extend layout 

block content
    h1 New Post
    form( method="POST" action='/new')
        label User: 
            input(type='text' name='user') 
        label Text: 
            input(type='text' name='text')
        button Submit