extend layout 

block content
    h1 New Post
    form( method="POST" action='/new')
        label User: 
            br
            input(type='text' name='user' required)
        br 
        label Text:
            br 
            input(type='text' id='input-text' name='text')
        br
        button Submit