body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-right: .75rem;
}

label{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
textarea{
  width: 30%;
  height: 4rem;
  font: 14px Arial;
  padding: 3px;
}

input{
  font: 14px Arial;
  width: 30%;
}